<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="%style{%date{DEFAULT}}{yellow}
                %highlight{%-5level}{FATAL=bg_red, ERROR=red, WARN=yellow, INFO=green}
                %message%n"/>
        </Console>
        <File name="DebugFileAppender" fileName="logs/application-${date:yyyyMMdd}.log" immediateFlush="true"
              append="false">
            <PatternLayout pattern="%-5p | %d{yyyy-MM-dd HH:mm:ss} | [%t] %C{2} (%F:%L) - %m%n"/>
        </File>
        <File name="ErrorFileAppender" fileName="logs/error-${date:yyyyMMdd}.log" immediateFlush="true" append="false">
            <PatternLayout pattern="%-5p | %d{yyyy-MM-dd HH:mm:ss} | [%t] %C{2} (%F:%L) - %m%n"/>
        </File>
    </Appenders>

    <Loggers>
        <Root level="debug">
            <AppenderRef ref="ConsoleAppender" level="all"/>
            <AppenderRef ref="DebugFileAppender" level="debug"/>
            <AppenderRef ref="ErrorFileAppender" level="error"/>
        </Root>
    </Loggers>
</Configuration>